.App {
  text-align: center;
}

.nav-option {
  display: inline-block;
  width: 30%;
  color: #f6f6f6;
}

.cta-btn {
  background-color: #f6f6f6;
  color: #007965;
  margin-right: .5rem;
}

.cta-btn:hover {
  background-color: #007965;
  color: #f6f6f6;
}

.logo-text {
  margin-right: .0rem;
  display: inline-block;
  font-size: x-large;
  border-bottom-style: solid;
  border-bottom-width: .15rem;
  border-bottom-color: #f6f6f6;
}