/* ************************* Classes ************************* */

.App {
  text-align: center;
}

.nav-option {
  display: inline-block;
  width: 30%;
  color: #f6f6f6;
}

.cta-btn {
  background-color: #f6f6f6;
  color: #007965;
  margin-right: .5rem;
  font-size: small;
}

.cta-btn:hover {
  background-color: #007965;
  color: #f6f6f6;
  font-weight: bold;
  border-left-style: solid;
  border-left-width: .5rem;
  border-left-color: #f6f6f6;
  border-right-style: solid;
  border-right-width: .5rem;
  border-right-color: #f6f6f6;
}

.cta-btn-inv {
  color: #f6f6f6;
  background-color: #007965;
  margin-right: .5rem;
  margin-top: .5rem;
  font-size: small;
}

.cta-btn-inv:hover {
  background-color: #f6f6f6;
  color: #007965;
  font-weight: bold;
  border-left-style: solid;
  border-left-width: .5rem;
  border-left-color: #007965;
  border-right-style: solid;
  border-right-width: .5rem;
  border-right-color: #007965;
}

.sect-col {
  background-color: #f6f6f6;
  color: #007965;
  border-style: solid;
  border-width: .25rem;
  border-color: #007965;
  padding: .25rem;
  border-radius: 25px;
  height: 25rem;
  overflow: auto;
}

.logo-text {
  margin-right: .0rem;
  display: inline-block;
  font-size: x-large;
  border-bottom-style: solid;
  border-bottom-width: .15rem;
  border-bottom-color: #f6f6f6;
}

.submit-btn {
  margin-top: 1rem;
}

.sm-bid-card {
  background-color: #007965;
  color: #f6f6f6;
  border-top: none;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* ************************ IDs *************************** */

#main-container {
  background-color: #007965;
  color: #f6f6f6;
  margin: 2.5%;
  padding: .5%;
  /* border-radius: 25px; */
}