/* ************************* Classes ************************* */

.App {
  text-align: center;
}

.nav-option {
  display: inline-block;
  width: 30%;
  color: #f6f6f6;
}

.cta-btn {
  background-color: #f6f6f6;
  color: #007965;
  margin-right: .5rem;
  margin-top: .125rem;
  margin-bottom: .125rem;
  font-size: small;
}

.cta-btn:hover {
  background-color: #007965;
  color: #f6f6f6;
  font-weight: bold;
  border-left-style: solid;
  border-left-width: .5rem;
  border-left-color: #f6f6f6;
  border-right-style: solid;
  border-right-width: .5rem;
  border-right-color: #f6f6f6;
}

.cta-btn-inv {
  color: #f6f6f6;
  background-color: #007965;
  margin-right: .5rem;
  margin-top: .5rem;
  font-size: small;
}

.cta-btn-inv:hover {
  background-color: #f6f6f6;
  color: #007965;
  font-weight: bold;
  border-left-style: solid;
  border-left-width: .5rem;
  border-left-color: #007965;
  border-right-style: solid;
  border-right-width: .5rem;
  border-right-color: #007965;
}

.sect-col {
  background-color: #f6f6f6;
  color: #007965;
  border-style: solid;
  border-width: .25rem;
  border-color: #007965;
  padding: .25rem;
  border-radius: 25px;
  height: 25rem;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

.logo-text {
  margin-right: .0rem;
  display: inline-block;
  font-size: x-large;
  border-bottom-style: solid;
  border-bottom-width: .15rem;
  border-bottom-color: #f6f6f6;
}

.submit-btn {
  margin-top: 1rem;
}

.sm-bid-card {
  font-size: small;
  background-color: #007965;
  color: #f6f6f6;
  border-style: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding: .2rem;
}

.full-bid-card {
  background-color: #007965;
  color: #f6f6f6;
  margin: .5rem auto .5rem auto;
  width: 90%;
  border-style: none;
  border-radius: 5px;
  padding: .5rem;
}

.full-bid-card h6 {
  border-bottom-style: solid;
  border-bottom-width: .1rem;
  border-bottom-color: #f6f6f6;
}

.full-bid-card p {
  font-size: small;
}

.full-bid-card hr {
  color: #f6f6f6;
}

.social-link-btn {
  width: 75%;
}

.section-header {
  background-color: #f6f6f6;
  color: #007965;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.sm-exp-card {
  font-size: small;
  background-color: #007965;
  color: #f6f6f6;
  border-style: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: .25rem;
  margin-bottom: .25rem;
  padding: .2rem;
}

.full-exp-card {
  background-color: #007965;
  color: #f6f6f6;
  margin: .5rem auto .5rem auto;
  width: 90%;
  border-style: none;
  border-radius: 5px;
  padding: .5rem;
}

.full-exp-card h6 {
  border-bottom-color: #f6f6f6;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

@keyframes blinking {
  0% {
    background-color: #912323;
  }
  100% {
    color: #f6f6f6;
    background-color: #007965;
  }
}

.blink {
  animation: blinking 2s infinite;
}

/* ************************ IDs *************************** */

#main-container {
  background-color: #007965;
  color: #f6f6f6;
  margin: 2.5%;
  padding: .5%;
  /* border-radius: 25px; */
}